# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Env
venv/
env/
ENV/
.env

# Database
*.db
*.sqlite
*.sqlite3

# Logs
*.log
experiments/logs/

# IDEs
.vscode/
.idea/
.DS_Store

# Pytest
.pytest_cache/
htmlcov/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
dev_artifacts/
